.row
{
	display: flex;
}
.panel{
	margin-left: 2px;
	margin-right: 2px;
}
.footer
{
	position: fixed !important;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 20px;
	background-color: green;
	color: white;
}
.footer a
{
	color: lime;
}

.container
{
	padding-bottom: 50px;
}
.pair
{
	background-color:lime;
	color: green;
}
.impair
{
	background-color: green;
	color: lime;
}
.magic
{
	width: 50px;
	position: relative;
}
.magic:hover
{
	animation-name: test;
	animation-duration: 10s;
	animation-direction: alternate;
	animation-fill-mode: both;
}
@keyframes test
{
	0% {width: 50px; z-index: 5; top: -10px;}
	25% {width: 100px; z-index: 5; top: -50px;}
	50% {width: 150px; z-index: 5; top: -120px;}
	75% {width: 200px; z-index: 5; top: -200px;}
	100% {width: 400px; top: -400px;}	
}
pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}